<div class="max-w-screen-2xl mx-auto px-4 mt-32">
    <div class="flex flex-col items-center py-16 justify-center mt-20 rounded-2xl shadow-xl relative">
        <img class="z-n1 absolute inset-0 w-full h-full object-cover rounded-2xl" src="../images/home.jpeg"
            alt="home image">
        <div class="flex flex-col p-8 rounded-2xl items-center relative">
            <h1 class="my-6 font-extrabold text-white text-6xl bg-black bg-opacity-50 rounded-2xl p-4">
                Welcome to Art Store!
            </h1>
            <button
                class="bg-gradient-to-r from-red-600 to-orange-300 font-semibold text-2xl text-white rounded-2xl px-8 py-4 border-2  mt-8"
                routerLink="/shop">
                Go to shop
            </button>
        </div>
    </div>
</div>
